.tasksArea {
	min-height: 40px;
}

.tasks {
	padding: 0 20px 20px 20px;
	list-style-type: none;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.task__content {
	margin: 0 10px;
	flex-grow: 1;
}

.task__button {
	padding: 7px 10px;
	background-color: #060;
	border: none;
	color: #fff;
}

.task__button--remove {
	background-color: #d00;
}

.task__buttonIcon {
	visibility: hidden;
}

.taskDone {
	text-decoration: line-through;
}
