.tasksArea {
	min-height: 40px;
}

.tasks {
	padding: 20px;
	list-style-type: none;
}

.task {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.task__content {
	margin: 0 10px;
	flex-grow: 1;
}

.taskDone {
	text-decoration: line-through;
}
